{% extends 'blog/blog_base.html' %}

{% block content %}

		<div id="blog" style="height:1250px;">
			<div id="blog-inner">
				<br />
				<h1>More Fun with Shot Charts</h1>

				<iframe width="580" height="325" src="https://www.youtube.com/embed/hvcY0mvR51k" frameborder="0" allowfullscreen></iframe>

				<p>Check out Steph Curry making this ridiculous shot look easy after evading 4 defenders. Obviously the reigning MVP has a hot shooting hand, but how does he compare to some of the NBA's biggest stars in terms of shooting efficiency? Let's take a look.</p>
				<p>The shot charts below cover some of the most prominent shooters in the NBA. Red dots mark areas where the player is shooting above average and blue dots mark areas where they are shooting below average. The size of the dot indicates the volume of shots taken from that spot on the court</p>
			</div>

			<div id="shotcharts">

				<div><img class="largepic" src="../images/shot charts/Stephen Curry_SSE.png" /></div>
				<br />

				<div><img class="smallpic" src="../images/shot charts/LeBron James_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/Russell Westbrook_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/Stephen Curry_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/LaMarcus Aldridge_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/James Harden_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/Dwight Howard_SSE.png" /></div>
				<div><img class="smallpic" src="../images/shot charts/Chris Paul_SSE.png" /></div>

			</div>
		</div>
{% endblock %}