{% load staticfiles %}

<html>
<head>
	<title>Shot Chart</title>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" href="{% static 'css/basketball-shot-chart.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

  	<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>


	<script type="text/javascript" src="{% static 'js/d3.v3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hexbin.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/saveSvgAsPng.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

</head>

<body onload="init()">
	<div id="outercontainer">
		<div id="header-back">
		<div id="header">
			<a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logoname.png' %}" /></a>
			<div id="menu">
				<ul>
					<li><a href="{% url 'home' %}">HOME</a>
					<li><a href="{% url 'home' %}#resume">RESUME</a>
					<li><a href="{% url 'home' %}#contact">CONTACT</a>
					<li><a href="{% url 'blog:blog' %}">BLOG</a>
					<li class="current"><a href="{% url 'shot_chart:shot_chart' %}">SHOT CHART</a>
				</ul>
			</div>
		</div>
		</div>
		<div id="under-header"></div>

		{% block content %}
		{% endblock %}
	</div>
</body>
</html>