{% extends 'shot_chart/shot_chart_base.html' %}
{% load staticfiles %}

{% block content %}

<div id="outer-form" style="background-image: url('{% static 'images/wood_court.jpg' %}');">
	<div id="tab-background">
	<h1>NBA Shot Chart App</h1>

	<div id="inner-form">
		<div class="tabInner">
		<ul id="tabs">
  			<!-- <li><a href="#about">Guide</a></li> -->
 	 		<li><a id="team-tab" href="#teams">Teams</a></li>
  			<li><a id="player-tab" href="#players">Players</a></li>
		</ul>
		</div>

		<div class="tabContent" id="about">
	  		<div class="tabInstructions">
	  			<ol>
	  				<li>Navigate to the <span style="color:orange;">Players</span> or <span style="color:orange;">Teams</span> tabs and select a player or team from the dropdown menu</li>
	  				<li>Select a season</li>
	  				<li>Hit the <span style="color:orange;">Chart it</span> button</li>
	  			</ol>
	  		</div>

	  		<div class="tabSize">
	  			<p>
	  				The <span style="color:orange;">size</span> of each hexagon indicates the volume of shots taken from each location on the court.
	  			</p>
	 		</div>

	 		<div class="tabColor">
	 			<p>
	 				The <span style="color:orange;">color</span> indicates the shooting efficiency from each location. Red means a shooter's field goal % is higher than the NBA average, and blue means it is lower than the NBA average.
	 			</p>
	 		</div>
		</div>

		<div class="tabContent" id="players">
		<div class="tabInner">
	  		<div class="tabLabel">
	  			<h2>Choose a player</h2>
	  		</div>
 	 		<div>	
				<form action="" method="GET">

            		<div class="form-row">
						<div class="form-label">
							Player:
						</div>
    					<select name="player">
    						<option id="initial-player">{{ query.player_name }}</option>
    						{% for player in query.player_list %}
    							<option>{{ player.player_name }}</option>
    						{% endfor %}
    					</select>
    				</div>
            		<br />

					<div class="form-row">
						<div class="form-label">
							Season:
						</div>
		            	<select name="season">
		            		<!--<option id="initial-season">{{ query.season }}</option>-->
		            		<option value="0"></option>
                			<option value="2015-16">2015-16</option>
                			<option value="2014-15">2014-15</option>
                			<option value="2013-14">2013-14</option>
                			<option value="2012-13">2012-13</option>
            			</select>
            		</div>

    				<div class="form-submit">
    					<input type="submit" id="submit" value="Chart it"/>
    				</div>
				</form>
  			</div>
  		</div>
		</div>

		<div class="tabContent" id="teams">
		<div class="tabInner">
	  		<div class="tabLabel">
	  			<h2>Choose a team</h2>
	  		</div>
 	 		<div>	
				<form action="" method="GET">

            		<div class="form-row">
						<div class="form-label">
							Team:
						</div>
    					<select name="team">
    						<option id="initial-team">{{ query.team_name }}</option>
    						{% for team in query.team_list %}
    							<option>{{ team.team_name }}</option>
    						{% endfor %}
    					</select>
    				</div>
            		<br />

					<div class="form-row">
						<div class="form-label">
							Season:
						</div>
		            	<select name="season">
		            		<!--<option id="initial-season">{{ query.season }}</option>-->
		            		<option value="0"></option>
                			<option value="2015-16">2015-16</option>
                			<option value="2014-15">2014-15</option>
                			<option value="2013-14">2013-14</option>
                			<option value="2012-13">2012-13</option>
            			</select>
            		</div>

    				<div class="form-submit">
    					<input type="submit" id="submit" value="Chart it"/>
    				</div>
				</form>
  			</div>
  		</div>
		</div>
	</div>
	</div>

<div id='shot-chart-outer'>


<script type="text/javascript">

// Define variables
var query_id = '{{ query.query_id }}';
var query_type = '{{ query.query_type }}';
var query_name = '{{ query.query_name }}';
var season = '{{ query.season }}';

// Select the tab that the user was previously on
$("document").ready(function() {
    setTimeout(function() {
    	// Go to team or player tab
        $("#" + query_type + "-tab").trigger('click');
    },100);
});

shotchart();
</script>
</div>

</div>

{% endblock %}